@import './buttons.css';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 350px;
  padding: 20px;
  background-color: #62bae4;
  border-radius: 15px;
}

.login-card__name {
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.login-card__buttons {
  text-align: center;
}
